{% extends "base.html" %}
{% block title %}Welcome to {% endblock %}
{% block content %}
<br /> <br/>
<div class="jumbotron">
    <h1> Welcome</h1>
    <p View Your Student Accounts Information Here</p>
<!-- p><a class="btn btn-primary btn-lg" href="#" role="button">Login</a></p> -->
</div>
<br >
  {# # #% if session.logged_in  <form action="{{ url_for('index') }}" method=post class="form-horizontal">
    <fieldset> ###}

    <h1>Student Information </span></h1>
          {% for student in students %}
           <div id="ShowProfile">

              <div class="list-group">

              <ul class="list-group">
                  <li class="list-group-item"><b>Student Name:</b> {{ student.STU_FNAME }} {{ student.STU_LNAME }}</li>
  <li class="list-group-item"><b>Student ID:</b> {{ student.STU_ID }}</li>
  <li class="list-group-item"><b>Student Address:</b> {{ student.STU_ADDRESS }}</li>
  <li class="list-group-item"><b>Student Phone:</b> {{ student.STU_PHONE }}</li>
  <li class="list-group-item"><b>Student Email:</b> {{ student.STU_EMAIL }}</li>
</ul>

            </tr>
              {% else %}
                <tr>
                  <td>No Information Available</td>
                </tr>
              {% endfor %}


    <br /> <br/>
    <br /> <br/>
    <br /> <br/>


{% endblock %}


    {#% endfor %#}



    <br /> <br/>
    <br /> <br/>
    <br /> <br/>


{#% endblock %#}


<!--- Admin can add a new studnet --->