
{% extends "base.html" %}
{% block title %}Welcome to {% endblock %}
{% block content %}
    <br />  <br />
     <br />  <br />

      <tbody>
      {% for payment in payments %}

          <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ payment.STU_ID }}</h3>
  </div>
  <div class="panel-body">
        <tr>
          <td>{{ payment.PMT_ID }}</td>
          <td>{{ payment.PMT_AMT }}</td>
          <td>{{ payment.PMT_STATUS}}</td>
          <td>{{ payment.PMT_METHOD }}</td>
        </tr>
  </div>

                 <div class="list-group">

              <ul class="list-group">
                  <li class="list-group-item"><b>Student ID:</b> {{ payment.STU_ID }}</li>
  <li class="list-group-item"><b>Student ID:</b> {{ payment.PMT_ID }}</li>
  <li class="list-group-item"><b>Student Address:</b> {{ payment.PMT_STATUS}}</li>
  <li class="list-group-item"><b>Student Phone:</b>{{ payment.PMT_METHOD }}</li>
</ul>

                 </div>




          </div>
      {% else %}
        <tr>
          <td>No Products</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>


{% endblock %}

