{% extends "base.html" %}

{% block title %}Bill Pay{% endblock %}
{% block content %}
     <br /> <br />
     <br /> <br />
    <h1 style="text-align:center;">Pay Your Bill Here</h1>
<br /> <br />
    <br /> <br />

<form action="#" method="get">


  <input type="checkbox" value="Bike"> Current Balance:<br>

  <div class="form-group">
    <div class="col-sm-10">
      <h5 class="form-control-static">*LINK THE ACTUAL CURRENT BALANCE FROM DATABASE HERE*</h5>
    </div>
  </div>
</form>

<!--- Put a box around the current balance amount shorten the box for the other amount field. remove
  "car" and "bike" --->

    <br /> <br />
  <input type="checkbox" value="Car" checked> Other Amount:<br>

    <div class="input-group">
  <span class="input-group-addon">$</span>
  <input type="text" class="form-control"</span>
</div>

    <br /> <br />
  <input type="submit" value="Submit">
</form>

    <br /> <br />

    <!-- date, note, amount --->



{% endblock %}