{% extends "base.html" %}

{% block title %}Bill Pay{% endblock %}
{% block content %}

       <br /> <br />
        <h1 style="text-align:center;">Add Student Aid Here</h1>

     <br /> <br />


<form action="#" method="get">

  {% for student in students %}
  <input type="checkbox" value="Bike"> Full Balance<br>



  <div class="form-group">
    <div class="col-sm-10">
        <h5> {{ student.STU_FNAME }} {{ student.STU_LNAME }}</h5>

    </div>
  </div>
</form>

{%  endfor %}


<!--- Put a box around the current balance amount shorten the box for the other amount field. remove
  "car" and "bike" --->


  <input type="checkbox" value="Car" checked> Other Amount:<br>

    <div class="input-group">
  <span class="input-group-addon">$</span>
  <input type="text" class="form-control"</span>
</div>

        <br /> <br />

  <input type="submit" value="Submit"><a href="/templates/payment.html"></a>
</form>


    <!-- date, note, amount
    add up all charge amounts to equal 'current balance'
    --->



{% endblock %}