{% extends "base.html" %}
{% block title %}Welcome to {% endblock %}
{% block content %}
<br /> <br/>

<h2> Register Student</h2>

    <h2> Currently Registered Students</h2>
    <table>
    {% for student in students %}
    <tr><td>{{ student.STU_FNAME }} {{ student.STU_LNAME }} </td></tr>
        Daniel B
  {% endfor %}

    </table>

    <br />

    <form method="POST" action ="/register">
        <table>
                <tr><td>Student Name</td><td><input type="text" name="student" /> </td></tr>
        </table>


        <input type ="submit" value="Add Student" />


    </form>


{% endblock %}
