


{% extends "base.html" %}
{% block title %}Welcome to {% endblock %}
{% block content %}
    <br />  <br />
     <br />  <br />


<!--- *INSERT USERS NAME HERE* bill --->

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Charges Activity</h3>
  </div>
  <div class="panel-body">
             <div id="ShowProfile">

              <div class="list-group">

              <ul class="list-group">
      {% for charge in charges %}

            <li class="list-group-item"><b>Charge ID:</b> {{ charge.CHRG_ID }} </li>
           <li class="list-group-item"><b>Charge Amount:</b>{{ charge.CHRG_AMNT }} </li>
           <li class="list-group-item"><b>Charge Name:</b>{{ charge.CHRG_NAME}} </li>
           <li class="list-group-item"><b>Student ID:</b>{{ charge.STU_ID }} </li>
          </ul>

      {% else %}
        <tr>
          <td>No Information Available</td>
        </tr>

      </tbody>

    </table>

  </div>
{% endfor %}

    <br /> <br/>
    <br /> <br/>
    <br /> <br/>


{% endblock %}