{% extends "base.html" %}
{% block title %}Welcome to {% endblock %}
{% block content %}
    <br />  <br />
     <br />  <br />


<!--- *INSERT USERS NAME HERE* bill --->

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Charges Activity</h3>
  </div>
  <div class="panel-body">
    *IMPORT CHARGES HERE*
  </div>
</div>

    <div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Aid Activity</h3>
  </div>
  <div class="panel-body">
    *IMPORT AID AMOUNTS HERE*
  </div>
</div>

    <div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Total Amount Due</h3>
  </div>
  <div class="panel-body">
    *IMPORT CHARGES - AID SQL STATEMENT FOR AMOUNT DUE?*
  </div>
</div>

        </div>
    </div>
    <br /> <br/>
    <br /> <br/>
    <br /> <br/>


{% endblock %}